<form  action ="/robots/<%=@robot.id %>" method="post">
  <p>Edit That Robot!!!</p>
  <input type="hidden" name="_method" value="PUT" />
  <h4>NAME</h4>
  <input type="text" name="robot[name]" value= "<%=@robot.name %>"/><br/>
  <h4>CITY</h4>
  <input type="text" name="robot[city]" value= "<%=@robot.city %>"/><br/>
  <h4>STATE</h4>
  <input type="text" name="robot[state]" value= "<%=@robot.state %>"/><br/>
  <h4>BIRTHDATE</h4>
  <input type="text" name="robot[birthdate]" value= "<%=@robot.birthdate %>"/><br/>
  <h4>DATE HIRED</h4>
  <input type="text" name="robot[date_hired]" value= "<%=@robot.date_hired %>"/><br/>
  <h4>DEPARTMENT</h4>
  <input type="text" name="robot[department]" value= "<%=@robot.department %>"/><br/>
  </br>
  <input type="submit" value="Confirm"/>
</form>
